{% extends 'base.html' %}

{% block title %}
    CINE
{% endblock %}

{% block content %}
    <h1>Bienvenido a tu CINE</h1>
    <p>  </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/registrate_index/">REGISTRATE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/compra_index/">ENTRADAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/ejemplo2_index/">PARA LLENAR</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/ejemplo3_index/">PARA LLENAR</a>
    </p>
    
{% endblock %}




