{% extends 'base.html' %}

{% block title %}
    ENTRADAS
{% endblock %}

{% block content %}

    <h1>ENTRADAS</h1>
    <p>
    <li class="nav-item">
        <a class="nav-link" href="http://localhost:8000/entradas/crear_compra">Comprar entrada</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="http://localhost:8000/entradas/eliminar_compra">Eliminar compra</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="http://localhost:8000/entradas/listar_libros">Ver compras</a>
    
    <li class="nav-item">
        <a class="nav-link" href="http://localhost:8000/entradas/actualizar_compras">Annadir maas compras</a>
    </p> 


    
{% endblock %}
