{% extends 'base.html' %}

{% block title %}
    Listar compras
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">titulo</th>
        </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                <tr> 
                    <td>{{ compra.titulo }}</td>
                    <td>{{ compra.usuario}}</td>
                    <td>{{ compra.fecha_creacion }}</td>
                    <td>{{ compra.fecha_funcion }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

###img src= "{{ compra.imagencompra.url }}" width = 80 height=100>###